---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body class="home-page">
    {% include header.html %}
    <main class="content">
        <section class="intro">
            <div class="container">
                <!-- <h2>About me.</h2> -->
                <!-- <p class="sub">{{ site.description }}</p> -->
                <p class="image">
                    <img src="{{site.author.pic}}" alt="{{site.title}}" />
                </p>
                <h2>{{ site.keywords }}</h2>
            </div>
        </section>
        <section class="projects">
            <div class="container">
                <div class="filter-nav">
                    <a href="/" class="filter-item {% if page.category == nil %}active{% endif %}" data-category="all">전체</a>
                    <a href="/category/tourist" class="filter-item {% if page.category == 'tourist' %}active{% endif %}" data-category="tourist">관광지</a>
                    <a href="/category/accommodation" class="filter-item {% if page.category == 'accommodation' %}active{% endif %}" data-category="accommodation">숙소</a>
                    <a href="/category/transportation" class="filter-item {% if page.category == 'transportation' %}active{% endif %}" data-category="transportation">교통</a>
                    <a href="/category/food" class="filter-item {% if page.category == 'food' %}active{% endif %}" data-category="food">음식</a>
                </div>
                
                <h2>여행지. Places I Have Visited</h2>
                <ul class="projects-list">
                    {% for item in site.posts %}
                        <li data-location="{{ item.location }}" data-title="{{ item.title }}">
                            <a href="{{ item.url }}">
                                <div class="img-wrapper">
                                    <img src="{{ item.project.image }}" alt="{{ item.project.title }}" />
                                </div>
                                <div class="location">
                                    <span class="h2">{{ item.project.location }} > {{ item.project.city }}</span>
                                    <span class="h2">{{ item.project.type }}</span>
                                </div>
                                <h3>{{ item.project.title }}</h3>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
    {% include footer.html %}
    <script src="/assets/scripts/search.js"></script>
</body>
</html>