/* Fonts
 ****************************************************************/

$font-default: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif !default;
$font-poppins: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif !default;
$font-lekton: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif !default;


/* Colors
 ****************************************************************/

$color-white: #fff;
$color-black: #000;
$color-silver-chalice: #aaa;
$color-alabaster: #191919;
$color-tango: #f46f25;
$color-white-sand: #f6f6f6;

/* Breakpoint
 ****************************************************************/

$breakpoint-xsmall: 400px;
$breakpoint-small: 550px;
$breakpoint-medium: 750px;
$breakpoint-large: 1000px;
$breakpoint-xlarge: 1200px;