<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.title }} / {{ page.title }}</title>
	<meta name="author" content="{{ site.author.name }}">
	<meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
	<meta name="keywords" content="{{ page.meta.keywords }}">
	{% include head.html %}
</head>
<body class="post-page">
	{% include header.html %}
	<main class="post-content">
		<section class="project">
			<div class="container">
				<!-- 리뷰 본문 -->
				<article>
					<span class="h2">Title</span>
					<h1 class="title">
						<a href="{{ page.project.url }}" target="_blank" title="{{ page.project.title }}" rel="nofollow">{{ page.project.title }}</a>
					</h1>
					
					<!-- 주소 -->
					<span class="h2">Address</span>
					<p><a title="{{ page.agency.name }}" href="{{ page.agency.url }}" target="_blank" rel="nofollow">{{ page.project.address }}</a></p>
					
					<!-- 플랫폼 -->
					<span class="h2">예약 플랫폼</span>
					<p>
						<div class="agency">
							<img class="agency-logo" src="/assets/images/platform/{{ page.agency.type }}.png" alt="{{ page.agency.name }}" />
							<!-- <a title="{{ page.agency.name }}" href="{{ page.agency.url }}" target="_blank" rel="nofollow">{{ page.agency.name }}</a> -->
						</div>
					</p>
					
					<!-- 본문 내용 -->
					<span class="h2">Information</span>
					{{ page.content }}
				</article>
				<!-- 사진 -->
				<aside>
					<ul>
						{% for image in page.images %}
						<li>
							<img src="{{ image.url | prepend: site.baseurl }}" alt="{{ image.alt }}" />
						</li>
						{% endfor %}
					</ul>
				</aside>
			</div>
		</section>
		<!-- <section class="project-navigation">
			<div class="container">
				{% if page.previous and page.previous.category contains "projects" %}
				<a title="Previous {{ page.previous.project.title }}" href="{{ page.previous.url | prepend: site.baseurl }}" class="prev">
					<span class="h2">Previous</span>
					<h2>{{ page.previous.project.title }}</h2>
				</a>
				{% endif %}
				{% if page.next and page.next.category contains "projects" %}
				<a title="Next {{ page.next.project.title }}" href="{{ page.next.url | prepend: site.baseurl }}" class="next">
					<span class="h2">Next</span>
					<h2>{{ page.next.project.title }}</h2>
				</a>
				{% endif %}
			</div>
		</section> -->
	</main>
	{% include footer.html %}
</body>
</html>