<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.title }} | {{ page.project.location }} > {{ page.project.city }} > {{ page.project.title }}</title>
	<meta name="author" content="{{ site.author.name }}">
	<meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
	<meta name="keywords" content="{{ page.meta.keywords }}">
	{% include head.html %}
</head>
<body class="post-page">
	{% include header.html %}
	<main class="post-content">
		<section class="project">
			<div class="container">
				<!-- 리뷰 본문 -->
				<article>
					<span class="h2">Title</span>
					<h1 class="title">
						{% if page.project.url %}
						<a href="{{ page.project.url }}" target="_blank">{{ page.project.title }}</a>
						{% else %}
						{{ page.project.title }}
						{% endif %}
					</h1>
					
					<!-- 주소 -->
					<span class="h2">Address</span>
					<p><a href="{{ page.project.naver_map }}" target="_blank">{{ page.project.address }}</a></p>
					
					<!-- 플랫폼 -->
					<span class="h2">예약 플랫폼</span>
					<p>
						<div class="agency">
							<a class="none" href="{{ page.agency.url }}" target="_blank">
								<img class="agency-logo" src="/assets/images/platform/{{ page.agency.type }}.png" alt="{{ page.agency.name }}" />
							</a>
							<!-- <a title="{{ page.agency.name }}" href="{{ page.agency.url }}" target="_blank" rel="nofollow">{{ page.agency.name }}</a> -->
						</div>
					</p>
					
					<!-- 본문 내용 -->
					<span class="h2">Information</span>
					{{ page.content }}
				</article>
				<!-- 사진 -->
				<aside>
					<ul>
						{% for image in page.images %}
						<li>
							<!-- <div class="images-wrapper"> -->
								<img src="{{ image.url | prepend: site.baseurl }}" alt="{{ image.alt }}" />
							<!-- </div> -->
						</li>
						{% endfor %}
					</ul>
				</aside>
			</div>
		</section>
	</main>
	{% include footer.html %}
</body>
</html>